div.card {
    width: 260px;
    height: 320px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

div.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

div.cardimg {
    width: 100%;
    height: 70%;
    position: relative;
}

/* Card Title */
.cardtext {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: black;
    /* Gold text */
}

/* Description */
.cardexplain {
    font-size: 10px;
    color: #241f1f;
    margin-top: 10px;
    padding: 0 10px;
    line-height: 1.5;
    opacity: 0.85;
}